
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class = "title">
                <h2>DANH SÁCH BỆNH NHÂN ĐANG ĐIỀU TRỊ</h2>
            </div>
            <div class="box-nav d-flex justify-between">
                <a href="/" class="border-shadow">
                    <span class="text-gradient">Danh sách chờ</span>
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Tuổi</th>
                            <th>Giới tính</th>
                            <th>Chẩn đoán</th>
                            <th>Thời gian</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = users.length - 1; i >= 0; i--) { %>
                            <tr>
                                <td><%= users.length - i %></td>
                                <td><%= users[i].name %></td>
                                <td><%= users[i].age %></td>
                                <td><%= users[i].gender %></td>
                                <td><%= users[i].diagnose %></td>
                                <td><%= users[i].timestamp%></td>
                                <td>
                                    <!-- <a href="/tra-cuu2?id=<%=i%>" class="btn border-shadow update"> -->
                                        <a href="/control_panel?id=<%=i%>" class="btn border-shadow update">
                                            <span class="text-gradient"><i class="fa-solid fa-magnifying-glass"></i></span>
                                        </a>
                                    <button class="chat_flowup" type="button">
                                        <span class="text-gradient"><i class="fa-solid fa-headset"></i></span>
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </form>
            <div class="chat-bar-collapsible">

                <div class="content">
                    <button id="chat-button" type="button" class="collapsible">Nguyễn Trần Duy Bảo
                        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
                    </button>
                    <div class="full-chat-block">
                        <!-- Message Container -->
                        <div class="outer-container">
                            <div class="chat-container">
                                <!-- Messages -->
                                <div id="chatbox">
                                    <h5 id="chat-timestamp"></h5>
                                    <!-- <p id="botStarterMessage" class="botText"><span>Loading...</span></p> -->
                                </div>

                                <!-- User input box -->
                                <div class="chat-bar-input-block">
                                    <div id="userInput">
                                        <input id="textInput" class="input-box" type="text" name="msg"
                                            placeholder="Tap 'Enter' to send a message">
                                        <p></p>
                                    </div>

                                    <div class="chat-bar-icons">
                                        <i id="chat-icon" style="color: crimson;" class=""
                                            onclick="heartButton()"></i>
                                        <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                            onclick="sendButton()"></i>
                                    </div>
                                </div>

                                <div id="chat-bar-bottom">
                                    <p></p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
        </div>


        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="/js/index3.js"></script>
    <script type="text/javascript" src="/js/client-dist/socket.io.js"></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script> -->
    <script>
        var socket = io();
        socket.on('connect', function(data) {
        });
        socket.on('web', (data) =>{
            console.log("web:" + data);
            let botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
        });

    </script>
</body>
</html>
